@import java.math.BigInteger; var i=1
@(monsters: List[pokeklon.model.IMonster])
@(i=1)
<div style="position: fixed; height:100px; width: 100%; top:0 ; right: 0; z-index: 3; background: #359ca5;">
    <div style="margin-left: 35vw; margin-top: 20px; font-size: 4vw; font-family: Verdana, Geneva, Tahoma, sans-serif;">Select Monster|s</div>
</div>
<div>
@for(mon <- monsters) {
    <monster-template number=@i monname="@mon.getName()" life="@mon.getMaxLife()" montype="@mon.getType().getName()" attack="@mon.getAttack()" defence="@mon.getDefence()" img="../images/MonsterPics/@if(i < 10){0}@(i)_big.png"></monster-template>            
	@(i+=1)
}
</div>
<paper-button id="btn" style="display:none; position: fixed; bottom:0; width:100%; height: 15%; background: #808080;"> Disabled </paper-button>