@(tuitext: String)
<h1>TUI</h1>
<p id="tui_text"></p>
<input id="inp" name="inp" />
<button id="bttn" type="button">Send</button>
<script>
    var connection = new WebSocket('ws://localhost:9000/tui_socket');
    connection.onopen = function ()
    {
        
    };
    connection.onmessage = function (e) {
        document.getElementById('tui_text').innerHTML = e.data;
    };
    document.getElementById('bttn').onclick = function()
    {
        var text = document.getElementById('inp').value;
        connection.send(text);
    }
</script>